# List Comprehension

In [ ]:

salaries =[10,20,30,40,50]

In [ ]:
#comprehension kullanmadan fonksiyon ile isleimin yapilmasi
def new_salary(x):
  return x*20/100+x
  
for salary in salaries:
  print(new_salary(salary))

12.0
24.0
36.0
48.0
60.0

In [ ]:
null_list=[]
def new_salary(x):
  return x*20/100+x
  
for salary in salaries:
  null_list.append(new_salary(salary))

In [ ]:
null_list1 =[]
for salary in salaries:
  if salary >30:
    null_list1.append(new_salary(salary))
  else:
    null_list1.append(new_salary(salary*2))

In [ ]:
null_list1

[24.0, 48.0, 72.0, 48.0, 60.0]

In [ ]:
#comprehension ile
[new_salary(salary*2) if salary<30 else new_salary(salary) for salary in salaries]

[24.0, 48.0, 36.0, 48.0, 60.0]

In [ ]:
[salary*2 for salary in salaries]

[20, 40, 60, 80, 100]

In [ ]:
[salary*2 for salary in salaries if salary<30]
#sayet sadece if kullanilacaksa en sagda if olur

[20, 40]

In [ ]:
[salary*2 if salary<30 else salary*0 for salary in salaries]
#eger ki if-else kullanilacaksa bu durumda for en sagda yazilir

[20, 40, 0, 0, 0]

In [ ]:
students =["John","Mark","Vanessa","Mariam"]
students_no =["John","nessa"]

In [ ]:
[student.lower() if student in students_no else student.upper() for student in students]

['john', 'MARK', 'VANESSA', 'MARIAM']

In [ ]:
[student.upper() if student not in students_no else student.lower() for student in students]

['john', 'MARK', 'VANESSA', 'MARIAM']

#Dict Comprehension

In [ ]:
dictionary ={"a":1,
             "b":2,
             "c":3,
             "d":4
             }

In [ ]:
print(dictionary.keys(),
dictionary.values(),
dictionary.items())

dict_keys(['a', 'b', 'c', 'd']) dict_values([1, 2, 3, 4]) dict_items([('a', 1), ('b', 2), ('c', 3), ('d', 4)])

In [ ]:
{i for i in dictionary}

{'a', 'b', 'c', 'd'}

In [ ]:
{k: v**2 for (k,v) in dictionary.items()}#keyler sabit,value degerlerini karesini al

{'a': 1, 'b': 4, 'c': 9, 'd': 16}

In [ ]:
{k.upper() for (k,v) in dictionary.items()}

{'A', 'B', 'C', 'D'}

In [ ]:
{k.upper():v*2 for (k,v) in dictionary.items()}#keysleri büyüt,degerleri iki ile carp

{'A': 2, 'B': 4, 'C': 6, 'D': 8}

#Mülakat Sorusu

* #Cift sayilarin karesi alinarak bir sözlüge eklenmek isteniyor

In [ ]:
numbers=range(10)
new_dict={}

for i in numbers:
  if i%2==0:
    new_dict[i]=i**2
new_dict

{0: 0, 2: 4, 4: 16, 6: 36, 8: 64}

In [ ]:
#simdi mülakat sorusunu dict comprehension ile yapalim
{n:n**2 for n in numbers if n%2==0}

{0: 0, 2: 4, 4: 16, 6: 36, 8: 64}

#List&Comprehension Uygulamalar

## Bir Veri Setindeki Degisken Isimlerini Degistirmek

** ## before:
* # ['total', 'speeding', 'alcohol', 'not_distracted', 'no_previous', 'ins_premium', 'ins_losses', 'abbrev']

* # after:
* # ['TOTAL', 'SPEEDING', 'ALCOHOL', 'NOT_DISTRACTED', 'NO_PREVIOUS', 'INS_PREMIUM', 'INS_LOSSES', 'ABBREV']

In [ ]:
import seaborn as sns
df=sns.load_dataset("car_crashes")
df.columns

Index(['total', 'speeding', 'alcohol', 'not_distracted', 'no_previous',
       'ins_premium', 'ins_losses', 'abbrev'],
      dtype='object')

In [ ]:
#normale dongü ile
for col in df.columns:
  print(col.upper())

TOTAL
SPEEDING
ALCOHOL
NOT_DISTRACTED
NO_PREVIOUS
INS_PREMIUM
INS_LOSSES
ABBREV

In [ ]:
#normale dongü ile
a=[]
for col in df.columns:
 a.append (col.upper())
a

df.columns =a
df

,TOTAL,SPEEDING,ALCOHOL,NOT_DISTRACTED,NO_PREVIOUS,INS_PREMIUM,INS_LOSSES,ABBREV
0,18.8,7.332,5.640,18.048,15.040,784.55,145.08,AL
1,18.1,7.421,4.525,16.290,17.014,1053.48,133.93,AK
2,18.6,6.510,5.208,15.624,17.856,899.47,110.35,AZ
3,22.4,4.032,5.824,21.056,21.280,827.34,142.39,AR
4,12.0,4.200,3.360,10.920,10.680,878.41,165.63,CA
5,13.6,5.032,3.808,10.744,12.920,835.50,139.91,CO
6,10.8,4.968,3.888,9.396,8.856,1068.73,167.02,CT
7,16.2,6.156,4.860,14.094,16.038,1137.87,151.48,DE
8,5.9,2.006,1.593,5.900,5.900,1273.89,136.05,DC
9,17.9,3.759,5.191,16.468,16.826,1160.13,144.18,FL
10,15.6,2.964,3.900,14.820,14.508,913.15,142.80,GA
11,17.5,9.450,7.175,14.350,15.225,861.18,120.92,HI
12,15.3,5.508,4.437,13.005,14.994,641.96,82.75,ID
13,12.8,4.608,4.352,12.032,12.288,803.11,139.15,IL
14,14.5,3.625,4.205,13.775,13.775,710.46,108.92,IN
15,15.7,2.669,3.925,15.229,13.659,649.06,114.47,IA
16,17.8,4.806,4.272,13.706,15.130,780.45,133.80,KS
17,21.4,4.066,4.922,16.692,16.264,872.51,137.13,KY
18,20.5,7.175,6.765,14.965,20.090,1281.55,194.78,LA
19,15.1,5.738,4.530,13.137,12.684,661.88,96.57,ME
20,12.5,4.250,4.000,8.875,12.375,1048.78,192.70,MD
21,8.2,1.886,2.870,7.134,6.560,1011.14,135.63,MA
22,14.1,3.384,3.948,13.395,10.857,1110.61,152.26,MI
23,9.6,2.208,2.784,8.448,8.448,777.18,133.35,MN
24,17.6,2.640,5.456,1.760,17.600,896.07,155.77,MS
25,16.1,6.923,5.474,14.812,13.524,790.32,144.45,MO
26,21.4,8.346,9.416,17.976,18.190,816.21,85.15,MT
27,14.9,1.937,5.215,13.857,13.410,732.28,114.82,NE
28,14.7,5.439,4.704,13.965,14.553,1029.87,138.71,NV
29,11.6,4.060,3.480,10.092,9.628,746.54,120.21,NH
30,11.2,1.792,3.136,9.632,8.736,1301.52,159.85,NJ
31,18.4,3.496,4.968,12.328,18.032,869.85,120.75,NM
32,12.3,3.936,3.567,10.824,9.840,1234.31,150.01,NY
33,16.8,6.552,5.208,15.792,13.608,708.24,127.82,NC
34,23.9,5.497,10.038,23.661,20.554,688.75,109.72,ND
35,14.1,3.948,4.794,13.959,11.562,697.73,133.52,OH
36,19.9,6.368,5.771,18.308,18.706,881.51,178.86,OK
37,12.8,4.224,3.328,8.576,11.520,804.71,104.61,OR
38,18.2,9.100,5.642,17.472,16.016,905.99,153.86,PA
39,11.1,3.774,4.218,10.212,8.769,1148.99,148.58,RI
40,23.9,9.082,9.799,22.944,19.359,858.97,116.29,SC
41,19.4,6.014,6.402,19.012,16.684,669.31,96.87,SD
42,19.5,4.095,5.655,15.990,15.795,767.91,155.57,TN
43,19.4,7.760,7.372,17.654,16.878,1004.75,156.83,TX
44,11.3,4.859,1.808,9.944,10.848,809.38,109.48,UT
45,13.6,4.080,4.080,13.056,12.920,716.20,109.61,VT
46,12.7,2.413,3.429,11.049,11.176,768.95,153.72,VA
47,10.6,4.452,3.498,8.692,9.116,890.03,111.62,WA
48,23.8,8.092,6.664,23.086,20.706,992.61,152.56,WV
49,13.8,4.968,4.554,5.382,11.592,670.31,106.62,WI
50,17.4,7.308,5.568,14.094,15.660,791.14,122.04,WY

In [ ]:
#simdi comprehension ile yapalim
import seaborn as sns
df=sns.load_dataset("car_crashes")
df.columns

Index(['total', 'speeding', 'alcohol', 'not_distracted', 'no_previous',
       'ins_premium', 'ins_losses', 'abbrev'],
      dtype='object')

In [ ]:
df.columns = [col.upper() for col in df.columns]
df.columns #daha kisa ve daha hizli

Index(['TOTAL', 'SPEEDING', 'ALCOHOL', 'NOT_DISTRACTED', 'NO_PREVIOUS',
       'INS_PREMIUM', 'INS_LOSSES', 'ABBREV'],
      dtype='object')

In [ ]:
#######################
# İsminde "INS" olan değişkenlerin başına FLAG diğerlerine NO_FLAG eklemek istiyoruz.
#######################

In [ ]:
[col for col in df.columns if "INS" in col]

['INS_PREMIUM', 'INS_LOSSES']

In [ ]:
["FLAG_" + col for col in df.columns if "INS" in col]

['FLAG_INS_PREMIUM', 'FLAG_INS_LOSSES']

In [ ]:
["FLAG_" + col if "INS" in col else "NO_FLAG" +col for col in df.columns]

['NO_FLAGTOTAL',
 'NO_FLAGSPEEDING',
 'NO_FLAGALCOHOL',
 'NO_FLAGNOT_DISTRACTED',
 'NO_FLAGNO_PREVIOUS',
 'FLAG_INS_PREMIUM',
 'FLAG_INS_LOSSES',
 'NO_FLAGABBREV']

In [ ]:
df.columns =["FLAG_" + col if "INS" in col else "NO_FLAG" +col for col in df.columns]# kalici olarka degistirdik

In [ ]:
df.columns

Index(['NO_FLAGTOTAL', 'NO_FLAGSPEEDING', 'NO_FLAGALCOHOL',
       'NO_FLAGNOT_DISTRACTED', 'NO_FLAGNO_PREVIOUS', 'FLAG_INS_PREMIUM',
       'FLAG_INS_LOSSES', 'NO_FLAGABBREV'],
      dtype='object')

In [ ]:
#######################
# Amaç key'i string, value'su aşağıdaki gibi bir liste olan sözlük oluşturmak.
# Sadece sayısal değişkenler için yapmak istiyoruz.
#######################


# Output:
# {'total': ['mean', 'min', 'max', 'var'],
#  'speeding': ['mean', 'min', 'max', 'var'],
#  'alcohol': ['mean', 'min', 'max', 'var'],
#  'not_distracted': ['mean', 'min', 'max', 'var'],
#  'no_previous': ['mean', 'min', 'max', 'var'],
#  'ins_premium': ['mean', 'min', 'max', 'var'],
#  'ins_losses': ['mean', 'min', 'max', 'var']}

In [ ]:
import seaborn as sns
df=sns.load_dataset("car_crashes")
df.columns

Index(['total', 'speeding', 'alcohol', 'not_distracted', 'no_previous',
       'ins_premium', 'ins_losses', 'abbrev'],
      dtype='object')

In [ ]:
#uzun yoldan >>

In [ ]:
num_cols = [col for col in df.columns if df[col].dtype !="O"]#O >object dataframedeki sayisal degerlere eristik
num_cols

['total',
 'speeding',
 'alcohol',
 'not_distracted',
 'no_previous',
 'ins_premium',
 'ins_losses']

In [ ]:
#uzun yol
from numpy.core.fromnumeric import mean
soz={}

agg_list = ["mean","min","max","sum"]

for col in num_cols:
  soz[col]=agg_list
soz

{'total': ['mean', 'min', 'max', 'sum'],
 'speeding': ['mean', 'min', 'max', 'sum'],
 'alcohol': ['mean', 'min', 'max', 'sum'],
 'not_distracted': ['mean', 'min', 'max', 'sum'],
 'no_previous': ['mean', 'min', 'max', 'sum'],
 'ins_premium': ['mean', 'min', 'max', 'sum'],
 'ins_losses': ['mean', 'min', 'max', 'sum']}

In [ ]:
#kisa yol

new_dict= {col: agg_list for col in num_cols}#:)
new_dict

{'total': ['mean', 'min', 'max', 'sum'],
 'speeding': ['mean', 'min', 'max', 'sum'],
 'alcohol': ['mean', 'min', 'max', 'sum'],
 'not_distracted': ['mean', 'min', 'max', 'sum'],
 'no_previous': ['mean', 'min', 'max', 'sum'],
 'ins_premium': ['mean', 'min', 'max', 'sum'],
 'ins_losses': ['mean', 'min', 'max', 'sum']}

In [ ]:
df[num_cols].agg(new_dict)#agg fonksyionu tanimlanan sözlugu hepsine uygular

,total,speeding,alcohol,not_distracted,no_previous,ins_premium,ins_losses
mean,15.790196,4.998196,4.886784,13.573176,14.004882,886.957647,134.493137
min,5.900000,1.792000,1.593000,1.760000,5.900000,641.960000,82.750000
max,23.900000,9.450000,10.038000,23.661000,21.280000,1301.520000,194.780000
sum,805.300000,254.908000,249.226000,692.232000,714.249000,45234.840000,6859.150000