In [1]:
 class Employee():
   employe_name="Omar"
   department="sales"
   starting_year=2020
   salary_in_dolar =5000

In [10]:
my_Object = Employee()

print(f"The Name of Object : > {my_Object.employee_name}")
print(f"Department of Object : >{my_Object.department} ")
print(f"Starting year : > {my_Object.starting_year}")
print(f"Salary in Dolar : > {my_Object.salary_in_dolar}")

The Name of Object : > Omar
Department of Object : >sales
Starting year : > 2020
Salary in Dolar : > 5000

In [11]:
#init >>sinif constructoru farkli objeler √ºretilebilir bu methodla
class Employee():
  def __init__(self,employee_name,department, starting_year, salary):
    self.employee_name =employee_name
    self.department =department
    self.starting_year=starting_year
    self.salary =salary

In [16]:
employee_1=Employee("Hasan","Sales",1999,10000)
employee_2=Employee("Hans","Product Manager",2010,5000)
print(employee_1.employee_name)
print(employee_2.employee_name)
print(employee_1.department)
print(employee_1.starting_year)
print(employee_1.salary)

Hasan
Hans
Sales
1999
10000

##Project

In [20]:
class HealthInsurance:
  def __init__(self,company_name,foundation_year,founder_name,company_slogan,num_of_employees,num_of_clients):
    self.company_name =company_name
    self.foundation_year=foundation_year
    self.founder_name=founder_name
    self.company_slogan=company_slogan
    self.num_of_employees=num_of_employees
    self.num_of_clients=num_of_clients

  #define the print_report method
  def print_report(self):
    print(f"""The company is {self.company_name} was founded in {self.foundation_year}.
    The founder of the company is {self.founder_name}.
    Company slogan : {self.company_slogan}
    Number of employees : {self.num_of_employees}
    Number of clients: {self.num_of_clients}""")
  
  # define the sup_health_insurance method
  def sup_health_insurance(self,age,chronic_disease,income):
    #if-else statements to check whether person can get suplemantal insurance or not
    if age >=60 and chronic_disease==True and income<6000:
      print("We are sorry! Yo are not eligible for supplemantal health insurance.")
    if age<60 and income>=6000 or chronic_disease==False:
      print("Conguraltions! You can get supplemantal health insurance")

  #define the update num_clients method
  def update_num_clients(self,new_number):
    self.num_of_clients= new_number
    print(f"Number of clients has been changed to {self.num_of_clients}")

#Create the object
#Now that we created our class and initialized its attributes and methods, we can create the object ‚Äútrading_company1‚Äù with the attributes:

* Company_name ‚ÄúTraCom‚Äù

* foundation_year ‚Äú2005‚Äù

* founder_name ‚ÄúChong Wu‚Äù

* company_slogan ‚ÄúWe revolutionize trading.‚Äù

* sales "5000"

* expenses "2000"

* revenue "3000"

In [22]:
# Create the object "HI_company1" with it's attributes
HI_company1=HealthInsurance(company_name="TraCom",foundation_year=2012,
                            founder_name="Bob Mayer",
                            company_slogan="We care for you",num_of_employees=3500, num_of_clients=13230)

#### Let‚Äôs check if the methods work.

There is a new customer that wants to register for supplemental health insurance. He is 45 years old, does not have a chronic disease, and has an income of 5000 dollars per month.

üìå Use the sup_health_insurance method with this information.

In [24]:
HI_company1.sup_health_insurance(45,False,5000)

Conguraltions! You can get supplemantal health insurance

#Because the number of clients has incerased,you should use the updata_num_clinets method:
* The new_number willl be 13231

In [27]:
HI_company1.update_num_clients(13231)

Number of clients has been changed to 13231

## To see the output of the latest update and check hether it worked or not, call the print_report method

In [28]:
#call the print_report method for Hi_company
HI_company1.print_report()

The company is TraCom was founded in 2012.
    The founder of the company is Bob Mayer.
    Company slogan : We care for you
    Number of employees : 3500
    Number of clients: 13231

In [31]:
#define the "logistics" class
class Logistics:
  def __init__(self,company_name,foundation_year,founder_name,company_slogan,inventory_space):
    self.company_name=company_name
    self.foundation_year=foundation_year
    self.founder_name =founder_name
    self.company_slogan=company_slogan
    self.inventory_space=inventory_space
  def print_report(self):
    print(f"""The company is {self.company_name} was founded in {self.foundation_year}.
    The founder of the company is {self.founder_name}.
    Company slogan : {self.company_slogan}
    Inventory space : {self.inventory_space}
    """)
  def update_inventory_space(self,new_storage_space):
    self.inventory_space=new_storage_space
    print(f"Inventory space has been changed to {self.inventory_space}")

In [32]:
#Create the object "logistic_company1" with it's attributes

logistic_company1 =Logistics("LogCom",1990,"Laura McCartey","There is no place we cannot reach",2500)

In [33]:
# update the inventory space
logistic_company1.update_inventory_space(3000)

Inventory space has been changed to 3000

In [34]:
#call the print_report_method for logistic_compayn1
logistic_company1.print_report()

The company is LogCom was founded in 1990.
    The founder of the company is Laura McCartey.
    Company slogan : There is no place we cannot reach
    Inventory space : 3000